section#corpo {
  background: white;
  padding: 0;
  padding-bottom: 75px;
}
section#corpo header{
  background-color: #dddd;
}

section#corpo header h1{
  font-size: 24pt;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  max-width: 500px;
  display: inline-block;
}
section div#container_cad_func {
  padding: 10px;
  padding-top: 20px;
}
fieldset {
  border: 1px solid #383f40;
  margin-bottom: 20px;
  padding: 10px;
}
input#i_masc, input#i_fem {
  position: relative;
  margin-left: 0px;
}
input#i_fem {
  margin-left: 10px;
}
button#btn_salvar, button#btn_pesquisar,
button#btn_limpar {
  position: fixed;
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  right: 10px;
  bottom: 10px;
  background-color: #94ba33;
}
button#btn_pesquisar {
  right: 179px;
  bottom: 10px;
  background-color: #94ba33;
}
button#btn_limpar {
  opacity: 1;
  right: 400px;
  bottom: 10px;
  background-color: #94ba33;
}

button#btn_salvar h2, button#btn_pesquisar h2,
button#btn_limpar h2 {
  margin: 0px;
  font-weight: bold;
}
#modal_container {
  position: fixed;
  display: none;
  margin: 0px;
  padding: 0px;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  opacity: 0.5;
  background-color: black;
}
#modalzao_massa {
  position: fixed;
  display: none;
  opacity: 1;
  top: 33%;
  left: 33%;
  right: 33%;
  bottom: 33%;
  border-radius: 5px;
  background-color: white;
  min-width: 200px;
  min-height: 200px;
}

label#textLabel{
  display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
    font-weight: bold;
}

input#m_cpf{
  display: block;
  margin: auto;
  align: middle;
  text-align: center;
}


/* Botão do AJAX para desabilitar ou habilitar status do Usuario CSS */

.onoffswitch {
    margin-top: 1%; margin-right: 1%;
    float: right;
    position: relative; width: 110px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #dddd; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Ativo";
    padding-left: 10px;
    background-color: #00abdc; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Inativo";
    padding-right: 10px;
    background-color: rgba(56,63,63,0.3); color: #white;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 5px; height: 5px; margin: 5px;
    position: absolute; top: 0; bottom: 0;
    right: 66px;
    border: 14px solid #FFFFFF; border-radius: 20px; margin-top: 7px; margin-right: 7px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
